@reference "../App.css";

#toast-container {
    @apply mt-6;
}

#toast-container > div {
    @apply rounded-2xl shadow-lg border-none opacity-100 p-4 min-w-[300px] max-w-md text-center flex justify-center items-center;
    background-image: none !important;
    padding-left: 20px !important;
}

#toast-container > .toast-success {
    background-color: #B9DFFF !important;
    color: #2D3748 !important;
}

#toast-container > .toast-error {
    background-color: #FED7D7 !important;
    color: #9B2C2C !important;
}

.toast-title {
    @apply font-bold text-sm mb-0 block;
}

.toast-message {
    @apply text-sm font-medium leading-tight;
}

.toast-close-button {
    @apply opacity-40 hover:opacity-100 !text-xl !static ml-4;
    color: currentColor !important;

    .toast-progress {
        @apply hidden;
    }
}
