@reference "../App.css";

#toast-container {
  @apply mt-6;
}

#toast-container > div {
  @apply rounded-2xl shadow-lg border-none opacity-100 p-4 min-w-[300px] max-w-md text-center flex justify-center items-center;
  background-image: none !important;
  padding-left: 20px !important;
}

#toast-container > .toast-success {
  background-color: #b9dfff !important;
  color: #2d3748 !important;
}

#toast-container > .toast-error {
  background-color: #fed7d7 !important;
  color: #9b2c2c !important;
}

.toast-title {
  @apply font-bold text-sm mb-0 block;
}

.toast-message {
  @apply text-sm font-medium leading-tight;
}

.toast-close-button {
  @apply opacity-40 hover:opacity-100 !text-xl !static ml-4;
  color: currentColor !important;
}
