@import "tailwindcss";

:root {
  --accent: #385CA8;
  --accent-bg: #EEF8FF;
  --border: #D7E7F2;
  --text-main: #15203D;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-main);
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

#center {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  min-height: 100vh;
  gap: 25px;
}